page {
    background-color: #fff;
    height: 100%;
}

.pannel {
    .title {
        width: 610rpx;
        overflow: hidden;
        margin: auto;
        border-bottom: 3rpx solid rgba(85, 147, 242, 1);

        .left {
            font-size: 38rpx;
            color: #212121;
            line-height: 38rpx;
            margin-top: 75rpx;
            margin-bottom: 13rpx;
        }

        .img {
            float: right;
            width: 124rpx;
            height: 113rpx;
            margin-top: 13rpx;

            image {
                width: 124rpx;
                height: 113rpx;
            }
        }
    }

    .content {
        width: 610rpx;
        margin: auto;
        margin-top: 40rpx;
        color: #656565;
        font-size: 26rpx;

        .item {
            margin-bottom: 5rpx;

            .item-title {
                line-height: 38rpx;
            }
        }

        .video-btn {
            width: 160rpx;
            height: 52rpx;
            background: rgba(255, 255, 255, 1);
            border: 1rpx solid rgba(0, 161, 233, 1);
            border-radius: 26rpx;
            text-align: center;
            font-size: 24rpx;
            color: #00A1E9;
            line-height: 52rpx;

        }
    }

    .btn {
        width: 690rpx;
        height: 70rpx;
        background: linear-gradient(90deg, rgba(31, 149, 241, 1) 0%, rgba(98, 184, 251, 1) 100%);
        border-radius: 35rpx;
        position: fixed;
        bottom: 30rpx;
        left: 30rpx;
        text-align: center;
        color: #fff;
        font-size: 26rpx;
        line-height: 70rpx;
        display: block;
    }
}