.state-btns {
  padding: 20rpx 30rpx 15rpx;
  overflow: hidden;
  border-top: 1rpx solid #dddddd;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  z-index: 10;

  .item-btn {
    float: left;
    color: #666666;
    text-align: center;
    font-size: 20rpx;
    margin: auto 25rpx;
    height: 73rpx;

    .img {
      width: 38rpx !important;
      height: 38rpx !important;
      text-align: center;
      margin: auto;
      margin-bottom: 9rpx;
      font-size: 45rpx;

      image {
        width: 38rpx !important;
        height: 38rpx !important;
      }
    }
  }

  .btn {
    float: right;
    width: 400rpx;
    height: 60rpx;
    border-radius: 60rpx;
    text-align: center;
    line-height: 60rpx;
    color: #fff;
    font-size: 24rpx;
    margin-top: 5rpx;
  }

  .btn-buy {
    background-color: #ef7c38;
  }
}

.butContact {
  background: none;
  height: 100%;
  border: none;
  position: absolute;
  top: 0;
  width: 38rpx !important; 
}