page {
    background-color: #fff;
    height: 100%;
}

.pannel {

    .img {
        width: 750rpx;
        height: 330rpx;
        background-color: #fff;

        image {
            width: 750rpx;
            height: 330rpx;
        }
    }

    .content {
        background-color: #fff;
        padding: 30rpx;

        .title {
            color: #28323E;
            font-size: 30rpx;
            margin-bottom: 13rpx;
        }

        .text {
            font-size: 24rpx;
            color: #6D6E71;
        }

        .price-block {
            overflow: hidden;
            margin-top: 28rpx;

            .price {
                float: left;
                color: #F15717;
                font-size: 28rpx;
                line-height: 26rpx;
            }

            .vouchers {
                float: right;
                color: #F15717;
                font-size: 28rpx;
                line-height: 26rpx;
            }

            .num-list {
                overflow: hidden;
                width: 100%;
                margin-bottom: 28rpx;

                .item {
                    float: left;
                    margin-right: 29rpx;
                    line-height: 26rpx;

                    .num-icon {
                        width: 25rpx;
                        height: 26rpx;
                        float: left;
                        margin-right: 11rpx;

                        image {
                            width: 25rpx;
                            height: 26rpx;
                        }
                    }

                    text {
                        float: left;
                        color: #6D6E71;
                        font-size: 22rpx;
                    }
                }
            }
        }

        .buy {
            width: 750rpx;
            height: 100rpx;
            background: rgba(255, 255, 255, 1);
            box-shadow: 0rpx -2rpx 4rpx 0rpx rgba(171, 171, 171, 0.36);
            position: fixed;
            bottom: 0;
            left: 0;

            .btn-buy {
                width: 400rpx;
                height: 60rpx;
                background: rgba(241, 87, 23, 1);
                border-radius: 30rpx;
                text-align: center;
                text-align: center;
                color: #fff;
                font-size: 24rpx;
                line-height: 58rpx;
                float: right;
                margin-top: 20rpx;
                margin-right: 30rpx;
            }
        }
    }

    .line {
        height: 20rpx;
        background-color: #F5F6FA;
    }

    .block {
        background-color: #fff;
        overflow: hidden;
        padding-bottom: 110rpx;

        .nav {
            padding: 0 30rpx;
            overflow: hidden;
            margin-top: 30rpx;
            margin-bottom: 25rpx;

            .item {
                float: left;
                margin-right: 50rpx;
                font-size: 28rpx;
                color: #7B8197;
            }

            .on {
                color: #28323E;
            }
        }

        .content {
            display: none;

            .html {}

            .list {
                .item {
                    width: 690rpx;
                    min-height: 160rpx;
                    background: rgba(255, 255, 255, 1);
                    box-shadow: 0rpx 0rpx 10rpx 0rpx rgba(0, 61, 173, 0.3);
                    border-radius: 10rpx;
                    margin: auto;
                    margin-bottom: 30rpx;
                    padding: 30rpx;
                    position: relative;

                    .item-title {
                        color: #28323E;
                        font-size: 26rpx;
                        margin-bottom: 40rpx;
                    }

                    .btn-list {
                        overflow: hidden;
                        float: right;
                        position: absolute;
                        right: 30rpx;
                        bottom: 20rpx;

                        .btn-item {
                            float: left;
                            color: #00A2E9;
                            font-size: 24rpx;
                            width: 140rpx;
                            height: 46rpx;
                            background: rgba(255, 255, 255, 1);
                            border: 1rpx solid rgba(148, 222, 255, 1);
                            border-radius: 23rpx;
                            margin-left: 20rpx;
                            line-height: 44rpx;
                            text-align: center;
                        }
                    }
                }
            }
        }

        .isShow {
            display: block;
        }
    }

    .buy {
        width: 750rpx;
        height: 100rpx;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0rpx -2rpx 4rpx 0rpx rgba(171, 171, 171, 0.36);
        position: fixed;
        bottom: 0;
        left: 0;

        .btn-buy {
            width: 400rpx;
            height: 60rpx;
            background: rgba(241, 87, 23, 1);
            border-radius: 30rpx;
            text-align: center;
            text-align: center;
            color: #fff;
            font-size: 24rpx;
            line-height: 58rpx;
            float: right;
            margin-top: 20rpx;
            margin-right: 30rpx;
        }
    }
}